In [3]:
%pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.1-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tevhidenur\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\tevhidenur\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   --- ------------------------------------ 1.0/11.5 MB 6.9 MB/s eta 0:00:02
   -------------------------- ------------- 7.6/11.5 MB 22.3 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 20.9 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 20.3 MB/s eta 0:00:00
Downloading numpy-2.2.1-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   --------------------------- ------------ 8.7/12.6 MB 43.1 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 33.7 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.1 pandas-2.2.3 pytz-2024.2 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

  WARNING: The scripts f2py.exe and numpy-config.exe are installed in 'c:\Users\Tevhidenur\AppData\Local\Programs\Python\Python313\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [73]:
import pandas as pd

In [74]:
# veriyi csv dosyasından oku
df = pd.read_csv('parsed_movies.csv')

In [75]:
df

,Title,Year,Genre,Director,Actors,BoxOffice,Runtime,Poster,Country
0,Star Wars: Episode VII - The Force Awakens,2015,"Action, Adventure, Sci-Fi",J.J. Abrams,"Daisy Ridley, John Boyega, Oscar Isaac","$936,662,225",138 min,https://m.media-amazon.com/images/M/MV5BOTAzOD...,"United States, United Kingdom"
1,Jurassic World,2015,"Action, Adventure, Sci-Fi",Colin Trevorrow,"Chris Pratt, Bryce Dallas Howard, Ty Simpkins","$653,406,625",124 min,https://m.media-amazon.com/images/M/MV5BNzBhNz...,"United States, Canada"
2,Furious 7,2015,"Action, Thriller",James Wan,"Vin Diesel, Paul Walker, Dwayne Johnson","$353,007,020",137 min,https://m.media-amazon.com/images/M/MV5BMTQxOT...,"United States, China, Japan, Canada, United Ar..."
3,Avengers: Age of Ultron,2015,"Action, Adventure, Sci-Fi",Joss Whedon,"Robert Downey Jr., Chris Evans, Mark Ruffalo","$459,005,868",141 min,https://m.media-amazon.com/images/M/MV5BODBhYT...,United States
4,Minions,2015,"Animation, Adventure, Comedy","Kyle Balda, Pierre Coffin","Sandra Bullock, Jon Hamm, Michael Keaton","$336,045,770",91 min,https://m.media-amazon.com/images/M/MV5BODI4Nz...,United States
...,...,...,...,...,...,...,...,...,...
1913,The Servant,2010,"Comedy, Drama, Romance",Kim Dae-woo,"Kim Ju-hyuk, Ryu Seung-beom, Cho Yeo-jeong",NaN,124 min,https://m.media-amazon.com/images/M/MV5BMTYxMj...,South Korea
1914,Norwegian Wood,2010,"Drama, Romance",Anh Hung Tran,"Ken'ichi Matsuyama, Rinko Kikuchi, Kiko Mizuhara","$13,000",133 min,https://m.media-amazon.com/images/M/MV5BODQ3NT...,Japan
1915,Head Over Heels,2010,Comedy,Roberto Santucci,"Ingrid Guimarães, Maria Paula, Bruno Garcia",NaN,101 min,https://m.media-amazon.com/images/M/MV5BMTk3Nz...,Brazil
1916,13 Assassins,2010,"Action, Adventure, Drama",Takashi Miike,"Kôji Yakusho, Takayuki Yamada, Yûsuke Iseya","$802,778",141 min,https://m.media-amazon.com/images/M/MV5BODg3MT...,"Japan, United Kingdom"
1917,Green Zone,2010,"Action, Drama, Thriller",Paul Greengrass,"Matt Damon, Jason Isaacs, Greg Kinnear","$35,053,660",115 min,https://m.media-amazon.com/images/M/MV5BMTYzMT...,"United Kingdom, France, Spain, United States, ..."

In [76]:
df.isnull().sum()

Title          0
Year           2
Genre          3
Director      22
Actors         7
BoxOffice    428
Runtime       23
Poster        18
Country        4
dtype: int64

In [77]:
# Clean the data by removing rows with missing values
df = df.dropna()

In [78]:
df

,Title,Year,Genre,Director,Actors,BoxOffice,Runtime,Poster,Country
0,Star Wars: Episode VII - The Force Awakens,2015,"Action, Adventure, Sci-Fi",J.J. Abrams,"Daisy Ridley, John Boyega, Oscar Isaac","$936,662,225",138 min,https://m.media-amazon.com/images/M/MV5BOTAzOD...,"United States, United Kingdom"
1,Jurassic World,2015,"Action, Adventure, Sci-Fi",Colin Trevorrow,"Chris Pratt, Bryce Dallas Howard, Ty Simpkins","$653,406,625",124 min,https://m.media-amazon.com/images/M/MV5BNzBhNz...,"United States, Canada"
2,Furious 7,2015,"Action, Thriller",James Wan,"Vin Diesel, Paul Walker, Dwayne Johnson","$353,007,020",137 min,https://m.media-amazon.com/images/M/MV5BMTQxOT...,"United States, China, Japan, Canada, United Ar..."
3,Avengers: Age of Ultron,2015,"Action, Adventure, Sci-Fi",Joss Whedon,"Robert Downey Jr., Chris Evans, Mark Ruffalo","$459,005,868",141 min,https://m.media-amazon.com/images/M/MV5BODBhYT...,United States
4,Minions,2015,"Animation, Adventure, Comedy","Kyle Balda, Pierre Coffin","Sandra Bullock, Jon Hamm, Michael Keaton","$336,045,770",91 min,https://m.media-amazon.com/images/M/MV5BODI4Nz...,United States
...,...,...,...,...,...,...,...,...,...
1910,Another Year,2010,"Comedy, Drama",Mike Leigh,"Jim Broadbent, Ruth Sheen, Lesley Manville","$3,205,706",129 min,https://m.media-amazon.com/images/M/MV5BODM3OW...,"United Kingdom, United States"
1912,Buried,2010,"Drama, Mystery, Thriller",Rodrigo Cortés,"Ryan Reynolds, José Luis García-Pérez, Robert ...","$1,044,143",95 min,https://m.media-amazon.com/images/M/MV5BOGMxNj...,"Spain, United Kingdom, France, United States"
1914,Norwegian Wood,2010,"Drama, Romance",Anh Hung Tran,"Ken'ichi Matsuyama, Rinko Kikuchi, Kiko Mizuhara","$13,000",133 min,https://m.media-amazon.com/images/M/MV5BODQ3NT...,Japan
1916,13 Assassins,2010,"Action, Adventure, Drama",Takashi Miike,"Kôji Yakusho, Takayuki Yamada, Yûsuke Iseya","$802,778",141 min,https://m.media-amazon.com/images/M/MV5BODg3MT...,"Japan, United Kingdom"
1917,Green Zone,2010,"Action, Drama, Thriller",Paul Greengrass,"Matt Damon, Jason Isaacs, Greg Kinnear","$35,053,660",115 min,https://m.media-amazon.com/images/M/MV5BMTYzMT...,"United Kingdom, France, Spain, United States, ..."

In [79]:
df['Genre'].value_counts()

Genre
Animation, Adventure, Comedy     85
Action, Adventure, Sci-Fi        66
Comedy, Drama, Romance           48
Comedy, Drama                    47
Comedy                           45
                                 ..
Documentary, Short, Adventure     1
Action, Drama, Family             1
Comedy, Crime, Romance            1
Action, Comedy, Family            1
Adventure, Drama, History         1
Name: count, Length: 221, dtype: int64

In [80]:
# how many films are there short films  as genre(it can contain short films and other genres)
df['Genre'].str.contains('Short').sum()

np.int64(2)

In [81]:
# remove the short films from dataset
df = df[~df['Genre'].str.contains('Short')]

In [82]:
# Remove the years that are not integers
df = df[df['Year'].str.isnumeric()]

In [83]:
df['Runtime'].value_counts()

Runtime
100 min    42
109 min    39
118 min    38
107 min    37
105 min    35
           ..
157 min     1
174 min     1
162 min     1
63 min      1
45 min      1
Name: count, Length: 98, dtype: int64

In [84]:
df['Genre'].value_counts()

Genre
Animation, Adventure, Comedy    85
Action, Adventure, Sci-Fi       66
Comedy, Drama, Romance          48
Comedy, Drama                   47
Comedy                          45
                                ..
Fantasy, Horror, Mystery         1
Action, Drama, Family            1
Comedy, Crime, Romance           1
Action, Comedy, Family           1
Adventure, Drama, History        1
Name: count, Length: 207, dtype: int64

In [85]:
df['BoxOffice'].value_counts()

BoxOffice
$35,053,660     1
$936,662,225    1
$653,406,625    1
$353,007,020    1
$459,005,868    1
               ..
$81,697,192     1
$130,179,072    1
$184,296,230    1
$1,243,810      1
$1,302,281      1
Name: count, Length: 1459, dtype: int64

In [86]:
df['Country'].value_counts()

Country
United States                                                      528
China                                                               64
United States, Canada                                               50
United Kingdom, United States                                       49
United States, United Kingdom                                       47
                                                                  ...
United States, Hungary, Italy                                        1
France, China, Belgium                                               1
United Kingdom, United States, Spain                                 1
United Kingdom, United States, Germany, Denmark, Belgium, Japan      1
France, Germany, United Kingdom, Belgium, United States              1
Name: count, Length: 363, dtype: int64

In [87]:
# Take the first country in the list as a country
df['Country'] = df['Country'].str.split(',').str[0]

In [88]:
value_counts = df['Country'].value_counts()
print(value_counts)

Country
United States           939
United Kingdom          131
China                   113
South Korea              54
India                    44
France                   38
Japan                    32
Canada                   26
Hong Kong                17
Germany                   9
Spain                     7
Australia                 6
Mexico                    5
New Zealand               4
Belgium                   3
United Arab Emirates      3
Ireland                   3
Sweden                    3
Brazil                    3
Italy                     2
Finland                   2
Czech Republic            2
Russia                    2
Chile                     1
Poland                    1
Taiwan                    1
Denmark                   1
Lebanon                   1
Hungary                   1
Argentina                 1
South Africa              1
Switzerland               1
Turkey                    1
Iran                      1
Name: count, dtype: int64

In [89]:
# get top 2 values of index
vals = value_counts[:8].index
print (vals)
df['Country'] = df.Country.where(df.Country.isin(vals), 'Other')

Index(['United States', 'United Kingdom', 'China', 'South Korea', 'India',
       'France', 'Japan', 'Canada'],
      dtype='object', name='Country')

In [90]:
# successfully divided the country into three catogories 
df['Country'].value_counts()

Country
United States     939
United Kingdom    131
China             113
Other              82
South Korea        54
India              44
France             38
Japan              32
Canada             26
Name: count, dtype: int64

In [91]:
df["Year"] = df["Year"].astype(int)

In [92]:
df['BoxOffice'] = df['BoxOffice'].str.replace('$', '')
df['BoxOffice'] = df['BoxOffice'].str.replace(',', '')
df['BoxOffice'] = df['BoxOffice'].astype(int)

In [93]:
# update the budget with 2019 dollar index
cpi_dict = {2010: 218.056, 2011: 224.939, 2012: 229.594, 2013: 232.957, 2014: 236.736, 2015: 237.017, 2016: 240.007, 2017: 245.120, 2018: 251.107, 2019: 255.657}

# target CPI (year 2019)
target_cpi = cpi_dict[2019]

def adjust_budget_to_2019(budget, year, cpi_dict, target_cpi):
    year_cpi = cpi_dict.get(year) 
    adjusted_budget = (budget * target_cpi) / year_cpi
    return round(adjusted_budget, 2)

# Yeni sütun ekleme
df["Adjusted_to_2019_BoxOffice"] = df.apply(
    lambda row: adjust_budget_to_2019(row["BoxOffice"], row["Year"], cpi_dict, target_cpi), axis=1
)

In [94]:
df.sort_values(by='Year', ascending=False)

,Title,Year,Genre,Director,Actors,BoxOffice,Runtime,Poster,Country,Adjusted_to_2019_BoxOffice
941,No Manches Frida 2,2019,Comedy,Nacho G. Velilla,"Martha Higareda, Omar Chaparro, Itatí Cantoral",9270920,102 min,https://m.media-amazon.com/images/M/MV5BMGE2ZG...,Other,9270920.00
899,Midsommar,2019,"Drama, Horror, Mystery",Ari Aster,"Florence Pugh, Jack Reynor, Vilhelm Blomgren",27426361,148 min,https://m.media-amazon.com/images/M/MV5BMzQxNz...,United States,27426361.00
940,Missing Link,2019,"Animation, Adventure, Comedy",Chris Butler,"Hugh Jackman, David Walliams, Stephen Fry",16649539,93 min,https://m.media-amazon.com/images/M/MV5BYTBiMz...,United States,16649539.00
962,Shaft,2019,"Action, Comedy, Crime",Tim Story,"Samuel L. Jackson, Jessie T. Usher, Richard Ro...",21360215,111 min,https://m.media-amazon.com/images/M/MV5BNWUzNj...,United States,21360215.00
968,Always Miss You,2019,Romance,"Hung-i Chen, Chen Hung-i, Haozhou Qiu","Amber Kuo, Ryan Zheng, Dongxue Li",91884,98 min,https://m.media-amazon.com/images/M/MV5BNzZhMD...,China,91884.00
...,...,...,...,...,...,...,...,...,...,...
1773,Step Up 3D,2010,"Drama, Music, Romance",Jon M. Chu,"Sharni Vinson, Rick Malambri, Adam Sevani",42400223,107 min,https://m.media-amazon.com/images/M/MV5BMTcxND...,United States,49711605.33
1912,Buried,2010,"Drama, Mystery, Thriller",Rodrigo Cortés,"Ryan Reynolds, José Luis García-Pérez, Robert ...",1044143,95 min,https://m.media-amazon.com/images/M/MV5BOGMxNj...,Other,1224192.26
1914,Norwegian Wood,2010,"Drama, Romance",Anh Hung Tran,"Ken'ichi Matsuyama, Rinko Kikuchi, Kiko Mizuhara",13000,133 min,https://m.media-amazon.com/images/M/MV5BODQ3NT...,Japan,15241.69
1916,13 Assassins,2010,"Action, Adventure, Drama",Takashi Miike,"Kôji Yakusho, Takayuki Yamada, Yûsuke Iseya",802778,141 min,https://m.media-amazon.com/images/M/MV5BODg3MT...,Japan,941206.92
1917,Green Zone,2010,"Action, Drama, Thriller",Paul Greengrass,"Matt Damon, Jason Isaacs, Greg Kinnear",35053660,115 min,https://m.media-amazon.com/images/M/MV5BMTYzMT...,United Kingdom,41098220.43

In [95]:
df.sort_values(by='BoxOffice', ascending=False)

,Title,Year,Genre,Director,Actors,BoxOffice,Runtime,Poster,Country,Adjusted_to_2019_BoxOffice
0,Star Wars: Episode VII - The Force Awakens,2015,"Action, Adventure, Sci-Fi",J.J. Abrams,"Daisy Ridley, John Boyega, Oscar Isaac",936662225,138 min,https://m.media-amazon.com/images/M/MV5BOTAzOD...,United States,1.010325e+09
775,Avengers: Endgame,2019,"Action, Adventure, Drama","Anthony Russo, Joe Russo","Robert Downey Jr., Chris Evans, Mark Ruffalo",858373000,181 min,https://m.media-amazon.com/images/M/MV5BMTc5MD...,United States,8.583730e+08
585,Black Panther,2018,"Action, Adventure, Sci-Fi",Ryan Coogler,"Chadwick Boseman, Michael B. Jordan, Lupita Ny...",700426566,134 min,https://m.media-amazon.com/images/M/MV5BMTg1MT...,United States,7.131181e+08
584,Avengers: Infinity War,2018,"Action, Adventure, Sci-Fi","Anthony Russo, Joe Russo","Robert Downey Jr., Chris Hemsworth, Mark Ruffalo",678815482,149 min,https://m.media-amazon.com/images/M/MV5BMjMxNj...,United States,6.911155e+08
1,Jurassic World,2015,"Action, Adventure, Sci-Fi",Colin Trevorrow,"Chris Pratt, Bryce Dallas Howard, Ty Simpkins",653406625,124 min,https://m.media-amazon.com/images/M/MV5BNzBhNz...,United States,7.047932e+08
...,...,...,...,...,...,...,...,...,...,...
1251,Finding Mr. Right,2013,"Comedy, Romance",Xiaolu Xue,"Tang Wei, Xiubo Wu, Hai-Qing",6945,121 min,https://m.media-amazon.com/images/M/MV5BNDQ2Nj...,China,7.621740e+03
603,Dying to Survive,2018,"Comedy, Drama",Muye Wen,"Zheng Xu, Yiwei Zhou, Chuan-jun Wang",6752,117 min,https://m.media-amazon.com/images/M/MV5BZTQ4YW...,China,6.874340e+03
1268,Thunder and the House of Magic,2013,"Animation, Adventure, Comedy","Jérémie Degruson, Ben Stassen, Mimi Maynard","Cinda Adams, George Babbit, Brianne Brozey",4091,85 min,https://m.media-amazon.com/images/M/MV5BMTEzOT...,Other,4.489640e+03
947,Skyfire,2019,"Action, Adventure, Drama",Simon West,"Bee Rogers, Alice Rietveld, Xueqi Wang",1105,97 min,https://m.media-amazon.com/images/M/MV5BY2MyYm...,China,1.105000e+03
1341,Khumba,2013,"Animation, Adventure, Comedy",Anthony Silverston,"Jake T. Austin, Adrian Rhodes, Sam Riegel",1029,85 min,https://m.media-amazon.com/images/M/MV5BMTQyNT...,Other,1.129270e+03

In [96]:
# are there any duplicate rows
df.duplicated().sum()

np.int64(0)

In [97]:
# seperate the actors and directors into different columns (actor1, actor2 etc.) range is not fixed, it depends on the movie
df['Actors'] = df['Actors'].str.split(', ')
df['Director'] = df['Director'].str.split(', ')

In [98]:
# find the maximum number of actors and directors in a movie
max_actors = df['Actors'].apply(len).max()
max_directors = df['Director'].apply(len).max()

In [99]:
# find minimum number of actors and directors
min_actors = df['Actors'].apply(len).min()
min_directors = df['Director'].apply(len).min()

In [100]:
print(max_actors, max_directors)

3 3

In [101]:
print(min_actors, min_directors)

3 1

In [102]:
# actor1, actor2 actor3, director1
df['Actor1'] = df['Actors'].str[0]
df['Actor2'] = df['Actors'].str[1]
df['Actor3'] = df['Actors'].str[2]
df['Director'] = df['Director'].str[0]

In [103]:
df.drop(columns=['Actors'], inplace=True)

In [104]:
# seperate the genres into different columns
df['Genre'] = df['Genre'].str.split(', ')

In [64]:
# find minimum number of actors and directors
min_genre = df['Genre'].apply(len).min()
max_genre = df['Genre'].apply(len).max()

In [65]:
print(min_genre, max_genre)

1 3

In [106]:
# genre1, genre2 genre3 if there is no genre, fill it with genre1

# Ensure Genre1 is always the first genre or NaN if Genre is empty
df['Genre1'] = df['Genre'].str[0]

# Fill Genre2 and Genre3 with appropriate values or fall back to Genre1
df['Genre2'] = df['Genre'].str[1].fillna(df['Genre1'])
df['Genre3'] = df['Genre'].str[2].fillna(df['Genre1'])

In [108]:
df.drop(columns=['Genre'], inplace=True)

In [111]:
df.drop(columns=['BoxOffice'], inplace=True)

In [112]:
# rename the adjust_to_2019_boxoffice column to boxoffice
df.rename(columns={'Adjusted_to_2019_BoxOffice': 'BoxOffice'}, inplace=True)

In [116]:
df.drop(columns=['Poster'], inplace=True)

In [117]:
# Save the cleaned data to a new csv file
df.to_csv('cleaned_movies.csv', index=False)

In [120]:
df[df["Title"].duplicated()]

,Title,Year,Genre,Director,Actors,BoxOffice,Runtime,Poster,Country,Adjusted_to_2019_BoxOffice
1376,Les Misérables,2012,"Drama, Musical, Romance",Tom Hooper,"Hugh Jackman, Russell Crowe, Anne Hathaway",149260140,158 min,https://m.media-amazon.com/images/M/MV5BY2Q1Yj...,United Kingdom,1.662038e+08
1747,Robin Hood,2010,"Action, Adventure, Drama",Ridley Scott,"Russell Crowe, Cate Blanchett, Matthew Macfadyen",105269730,140 min,https://m.media-amazon.com/images/M/MV5BMTM5Nz...,United States,1.234222e+08

In [118]:
df

,Title,Year,Director,Runtime,Country,BoxOffice,Actor1,Actor2,Actor3,Genre1,Genre2,Genre3
0,Star Wars: Episode VII - The Force Awakens,2015,J.J. Abrams,138 min,United States,1.010325e+09,Daisy Ridley,John Boyega,Oscar Isaac,Action,Adventure,Sci-Fi
1,Jurassic World,2015,Colin Trevorrow,124 min,United States,7.047932e+08,Chris Pratt,Bryce Dallas Howard,Ty Simpkins,Action,Adventure,Sci-Fi
2,Furious 7,2015,James Wan,137 min,United States,3.807690e+08,Vin Diesel,Paul Walker,Dwayne Johnson,Action,Thriller,Action
3,Avengers: Age of Ultron,2015,Joss Whedon,141 min,United States,4.951040e+08,Robert Downey Jr.,Chris Evans,Mark Ruffalo,Action,Adventure,Sci-Fi
4,Minions,2015,Kyle Balda,91 min,United States,3.624738e+08,Sandra Bullock,Jon Hamm,Michael Keaton,Animation,Adventure,Comedy
...,...,...,...,...,...,...,...,...,...,...,...,...
1910,Another Year,2010,Mike Leigh,129 min,United Kingdom,3.758489e+06,Jim Broadbent,Ruth Sheen,Lesley Manville,Comedy,Drama,Comedy
1912,Buried,2010,Rodrigo Cortés,95 min,Other,1.224192e+06,Ryan Reynolds,José Luis García-Pérez,Robert Paterson,Drama,Mystery,Thriller
1914,Norwegian Wood,2010,Anh Hung Tran,133 min,Japan,1.524169e+04,Ken'ichi Matsuyama,Rinko Kikuchi,Kiko Mizuhara,Drama,Romance,Drama
1916,13 Assassins,2010,Takashi Miike,141 min,Japan,9.412069e+05,Kôji Yakusho,Takayuki Yamada,Yûsuke Iseya,Action,Adventure,Drama
1917,Green Zone,2010,Paul Greengrass,115 min,United Kingdom,4.109822e+07,Matt Damon,Jason Isaacs,Greg Kinnear,Action,Drama,Thriller